Repository ZhangHanDong/claude-code-api-rs: changes, and which Codecov flags are due for each by the changed paths.
All: sdk, api

codecov.yml:

# Codecov configuration for Nexus
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true  # Don't fail CI on coverage decrease
    patch:
      default:
        target: 80%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

ignore:
  - "examples/**"
  - "tests/**"
  - "**/test*.rs"
  - "**/mod.rs"  # Module files typically don't have logic

flags:
  sdk:
    paths:
      - claude-code-sdk-rs/src/**
    carryforward: true
  api:
    paths:
      - claude-code-api/src/**
    carryforward: true

docs: add CI and coverage badges to README files
  README.md
  claude-code-sdk-rs/README.md
Due: none

Release v0.5.0: Python SDK v0.1.33 Parity, Bug Fixes & Model Updates
  Cargo.toml
  claude-code-api/src/api/chat.rs
  claude-code-api/src/models/claude.rs
  claude-code-api/src/models/openai.rs
  claude-code-api/src/models/tests.rs
  claude-code-api/src/utils/function_calling.rs
  claude-code-api/src/utils/text_chunker.rs
  claude-code-sdk-rs/Cargo.toml
  claude-code-sdk-rs/src/lib.rs
  claude-code-sdk-rs/src/model_recommendation.rs
  claude-code-sdk-rs/src/query.rs
  claude-code-sdk-rs/src/transport/subprocess.rs
  claude-code-sdk-rs/src/types.rs
  claude-code-sdk-rs/tests/e2e_hooks.rs
  claude-code-sdk-rs/tests/integration_test.rs
  claude-code-sdk-rs/tests/test_hook_types.rs
  claude-code-sdk-rs/tests/token_optimization_test.rs
Due: sdk, api

Release v0.6.0: WebSocket Support & Permission Protocol Fix
  AUDIT_v0.6.0.md
  CHANGELOG.md
  Cargo.toml
  README.md
  claude-code-api/Cargo.toml
  claude-code-api/src/api/mod.rs
  claude-code-api/src/api/ws_sessions.rs
  claude-code-api/src/main.rs
  claude-code-api/src/ws/bridge.rs
  claude-code-api/src/ws/cli_handler.rs
  claude-code-api/src/ws/client_handler.rs
  claude-code-api/src/ws/launcher.rs
  claude-code-api/src/ws/mod.rs
  claude-code-api/src/ws/ndjson.rs
  claude-code-api/src/ws/types.rs
  claude-code-sdk-rs/CHANGELOG.md
  claude-code-sdk-rs/Cargo.toml
  claude-code-sdk-rs/README.md
  claude-code-sdk-rs/src/client.rs
  claude-code-sdk-rs/src/errors.rs
  claude-code-sdk-rs/src/internal_query.rs
  claude-code-sdk-rs/src/lib.rs
  claude-code-sdk-rs/src/transport/mod.rs
  claude-code-sdk-rs/src/transport/websocket.rs
  claude-code-sdk-rs/tests/control_protocol_e2e.rs
  claude-code-sdk-rs/tests/e2e_control.rs
Due: sdk, api

fix: exit control handler loop when mpsc channel closes
  claude-code-sdk-rs/src/internal_query.rs
Due: sdk

Release v0.7.0: Python SDK v0.1.33 Full Parity — Effort, Rate Limits, Task Messages, Session History, MCP Runtime, ThinkingConfig
  CHANGELOG.md
  README.md
  claude-code-sdk-rs/CHANGELOG.md
  claude-code-sdk-rs/Cargo.toml
  claude-code-sdk-rs/README.md
  claude-code-sdk-rs/examples/basic_client.rs
  claude-code-sdk-rs/examples/control_protocol_demo.rs
  claude-code-sdk-rs/examples/simple_api_demo.rs
  claude-code-sdk-rs/examples/streaming_mode.rs
  claude-code-sdk-rs/examples/streaming_output.rs
  claude-code-sdk-rs/examples/test_streaming.rs
  claude-code-sdk-rs/src/interactive.rs
  claude-code-sdk-rs/src/lib.rs
  claude-code-sdk-rs/src/message_parser.rs
  claude-code-sdk-rs/src/query.rs
  claude-code-sdk-rs/src/sessions.rs
  claude-code-sdk-rs/src/transport/subprocess.rs
  claude-code-sdk-rs/src/types.rs
  claude-code-sdk-rs/tests/mock_api_test.rs
  claude-code-sdk-rs/tests/streaming_test.rs
  claude-code-sdk-rs/tests/test_p0_parity.rs
  claude-code-sdk-rs/tests/test_p1_session.rs
  claude-code-sdk-rs/tests/test_p1_task.rs
  claude-code-sdk-rs/tests/test_p2_mcp_thinking.rs
Due: sdk

Add v0.7.0 design specs for Python SDK parity implementation
  specs/p0-quick-wins.spec.md
  specs/p1-session-history.spec.md
  specs/p1-task-messages-and-agent-definition.spec.md
  specs/p2-runtime-mcp-and-thinking.spec.md
Due: none

Fix README: cc-sdk is community-driven, not official
  README.md
Due: none

feat(cc-sdk): add explicit session_id support to ClaudeCodeOptions
  claude-code-sdk-rs/src/client.rs
  claude-code-sdk-rs/src/types.rs
Due: sdk

Release v0.8.0: Python SDK v0.1.55 Full Parity — DontAsk, Context Usage, MCP Control, Cache Tokens
  claude-code-sdk-rs/CHANGELOG.md
  claude-code-sdk-rs/Cargo.toml
  claude-code-sdk-rs/src/client.rs
  claude-code-sdk-rs/src/client_working.rs
  claude-code-sdk-rs/src/errors.rs
  claude-code-sdk-rs/src/interactive.rs
  claude-code-sdk-rs/src/internal_query.rs
  claude-code-sdk-rs/src/lib.rs
  claude-code-sdk-rs/src/optimized_client.rs
  claude-code-sdk-rs/src/query.rs
  claude-code-sdk-rs/src/sessions.rs
  claude-code-sdk-rs/src/token_tracker.rs
  claude-code-sdk-rs/src/transport/subprocess.rs
  claude-code-sdk-rs/src/types.rs
  claude-code-sdk-rs/tests/e2e_new_control_methods.rs
  claude-code-sdk-rs/tests/test_p1_task.rs
  specs/p3-sdk-parity.spec.md
Due: sdk

fix(llm): Fix subscription auth + hang on Result message
  claude-code-sdk-rs/examples/test_llm.rs
  claude-code-sdk-rs/src/llm.rs
  claude-code-sdk-rs/src/query.rs
Due: sdk

feat: Add llm module — use CC subscription as a direct LLM proxy
  claude-code-sdk-rs/src/lib.rs
  claude-code-sdk-rs/src/llm.rs
  claude-code-sdk-rs/src/query.rs
Due: sdk

feat(websocket): Production-grade reconnection with exponential backoff
  claude-code-sdk-rs/src/transport/websocket.rs
Due: sdk

Release v0.8.1: LLM Proxy, WebSocket Reconnection, Community PRs
  claude-code-sdk-rs/CHANGELOG.md
  claude-code-sdk-rs/Cargo.toml
Due: none

docs: Update README for v0.8.1 — LLM proxy, WebSocket reconnection, models
  claude-code-sdk-rs/README.md
Due: none

docs: Update root README for v0.8.1
  README.md
Due: none
